@import url('https://fonts.googleapis.com/css?family=Sail:400');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F3ECEC;
}

header .header {
    background-image: url('../img/header-img.jpg');
    width: 1531px; 
    height: 1032px; 
    background-repeat: no-repeat; 
    background-size: cover;
}

header .header .head {
    display: flex;
    align-items: center;
    height: max-content;
}

header .header .logo img {
    width: 275px;
}

header .header nav {
    padding-top: 1rem;
}

header .header nav ul li {
    display: inline-block;
    cursor: pointer;
    list-style: none;
    font-size: 18px;
}

header .header nav ul li a {
    text-decoration: none;
}

header .header nav ul li a,
header .header nav ul li a::after,
header .header nav ul li a::before {
    transition: all .2s;
}

header .header nav ul li a:hover {
    color: rgb(243, 159, 159);
}

nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #F3ECEC;
  height: 1px;
}

 nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 1s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}

nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}

nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

header .header nav ul li img {
    width: 25px;
    height: 25px;
}

header .header nav ul li input {
    width: 150px;
    height: 2rem;
    border-radius: 5px;
    outline: none;
    border: black;
    padding-left: 5px;
}

header .header .slogon {
    text-transform: capitalize;
    text-align: center;
    font-size: 48px;
    height: max-content;
    font-family: Sail', sans-serif;
}