* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F3ECEC;
}

header .header {
    display: flex;
    padding-top: 1rem;
    background-image: url('img/');
}

header .header .nav-bar ul {
    display: flex;
    text-decoration: none;
}

header .header .nav-bar ul{
    text-decoration: none;
}

header .header .nav-bar ul li img {
    width: 30px;
    height: 30px;
}

header .header .nav-bar ul li input {
    width: 150px;
}