@import url('https://fonts.googleapis.com/css?family=Sail:400');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F3ECEC;
}

header .header .head .logo img {
    width: 275px;
}

main {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 0;
}

main .login {
    grid-area: 2 / 2 / 3 / 3 ;
    text-align: center;
}

main .login form {
    border: 1px solid #f3c7c7;
}

main .login form .email, .password{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}